{% extends 'base_with_menu.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<main class="container">

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static text-center">
          <h3 class="mb-0 text-primary">GENDARMERIE NATIONALE</h3>
          <strong class="d-inline-block mb-2 ">TANINDRAZANA SY LALANA</strong>
          <div class="mb-1 text-muted"></div>
          <p class="mb-auto"></p>
          <a href="#" class="stretched-link"></a>
        </div>
        <div class="col-auto d-none d-lg-block cirgn">
            <img src="../../images/logo_gn.png" class="img-fluid cirgn" alt="...">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0 text-success">DIRECTIVES SEG</h3>
          <h4 class="mb-0 text-secondary">Le général de corps d'armée Serge GELLE</h4>
          <strong class="d-inline-block mb-2 "></strong>
          <strong class="d-inline-block mb-2 ">01 - FANARAHANA NY FITSIPI-PIPEHEZANA</strong>
          <strong class="d-inline-block mb-2 ">02 - FANENTANANA NY ZANDARY HIANATRA HATRANY</strong>
          <strong class="d-inline-block mb-2 ">03 - FIALANA AMIN'NY FAHAZARAN-DRATSY</strong>
          <strong class="d-inline-block mb-2 ">04 - ADY AMIN'NY FAMOTSIANA OMBY</strong>
          <strong class="d-inline-block mb-2 ">    LCBBV:LUTTE CONTRE LE BLANCHISSEMENT DES BOEUFS VOLES</strong>
          <strong class="d-inline-block mb-2 ">05 - ADY AMIN'NY FIPARITAHAN'NY FITAOVAM-PIADIANA</strong>
          <strong class="d-inline-block mb-2 ">LCBADI:LUTTE CONTRE BLANCHISSEMENT DES ARMES DETENUES ILLEGALEMENT</strong>
          <h3 class="mb-0 text-danger">"REHEFA HAY DIA ATAO TSARA, REHEFA TSY HAY DIA MANONTANIA"</h3>
          <BR><BR>
          <BR><BR>
          <BR>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        SERVICE INTERIEUR
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title mb-1">DEVOIRS ET RESPONSABILITÉS DU CHEF</h2>
        <p class="blog-post-meta">Art 9 et 10 du SI <a href="#"></a></p>

        <p>
                  - Qu’est –ce qu’un chef ?
        Un chef :
        -	est un guide et un exemple.
        -	Donne des ordres et veille à leur exécution.
        -	Fait preuve d’un grand esprit d’initiative.
        -	Accepte les responsabilités.
        -	Inspire la confiance et le respect ;
        -	Est impartial, exigeant mais juste à l’égard de ses subordonnés.
        -	Par son dynamisme, transmet la rigueur et le sang-froid.
        </p>
        <hr>
        <p>
                - Quel est le rôle du chef ?
        Le chef doit :
        -	Éduquer, instruire et conseiller tant sur le plan professionnel  que personnel.
        -	Par son expérience, s’attacher à inculquer aux subordonnés le goût du travail bien fait.
        -	Développer l’esprit de discipline, le sens de la responsabilité et de la disponibilité.
        -	Par son action continue, développer son activité au-delà de l’application stricte des règlements

        </p>

      <article class="blog-post">
        <h2 class="blog-post-title mb-1">LE DEVOIR DE S’INSTRUIRE</h2>
        <p class="blog-post-meta">Art 53 du SI<a href="#"></a></p>

        <p>
            Les militaires de la GN doivent,en toute occasion, assurer la défense du territoire national, le maintien de l’ordre, la sécurité et le respect des lois.
    A cet effet, tout militaire de la GN, quel que soit son grade, doit s’instruire pour :
    -	 Avoir la volonté et les moyens d’agir même dans les circonstances les plus difficiles.
    -	 Accroître sa compétence dans le service, son ascendance et son prestige aux yeux de la Population.
         <br> L’instruction dans la GN se divise en 05 parties :
        </p>
        <ul>
          <li>	la formation militaire (combat, Topo, etc…)</li>
          <li>	la formation générale (culture générale, rédaction)</li>
          <li>	la  formation technique (connaissance professionnelle)</li>
          <li>	l’éducation physique (Sport)</li>
          <li>	l’éducation morale et civique (acquisition d’une valeur morale indiscutable)</li>
        </ul>
        <p></p>
      </article>

     {#<nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
        <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
      </nav>#}

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">A Propos</h4>
          <p class="mb-0">Ceci est un application de suivi des services journalières dans les unités élémentaires de la GENDARMERIE NATIONALE.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">JAN 2023</a></li>
            <li><a href="#">FEV 2023</a></li>
            <li><a href="#">MAR 2023</a></li>
            <li><a href="#">AVR 2023</a></li>
            <li><a href="#">MAI 2023</a></li>
            <li><a href="#">JUN 2023</a></li>
            <li><a href="#">JUL 2023</a></li>
            <li><a href="#">AOU 2023</a></li>
            <li><a href="#">SEP 2023</a></li>
            <li><a href="#">OCT 2023</a></li>
            <li><a href="#">NOV 2023</a></li>
            <li><a href="#">DEC 2023</a></li>
          </ol>
        </div>

        <div class="p-4">
          {#<h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>#}
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}
