<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Ajouter par developper rjn #}
        <!-- Style CSS -->
        <link rel="stylesheet" href="./adminlte3.1.0/dist/css/adminlte.min.css">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="./adminlte3.1.0/dist/js/adminlte.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="../../adminlte3.1.0/plugins/fontawesome-free/css/all.min.css">
        <!-- icheck bootstrap -->
        <link rel="stylesheet" href="../../adminlte3.1.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- jQuery -->
        <script src="../../adminlte3.1.0/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="../../adminlte3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="../../adminlte3.1.0/dist/js/adminlte.min.js"></script>
        {# Fin de l'ajout #}

        {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>